footer {
  background-color: var(--DarkBlue);
  color: #fff;
  padding: 3% 7%;
  justify-content: space-between;
}
.request-button-container {
  width: fit-content;
  margin-left: auto;
}
footer > section {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socials {
  justify-content: space-between;
}
.socials img {
  margin-right: 10px;
  cursor: pointer;
}
footer > section:nth-child(2) p,
footer > section:nth-child(3) p {
  font-size: 0.8rem;
  color: #acafbb;
  cursor: pointer;
}
.copy-right {
  color: #797b94;
  font-size: 0.75rem;
}
footer > section:nth-child(2) p:hover,
footer > section:nth-child(3) p:hover {
  color: var(--LimeGreen);
  transition: color 200ms ease-in-out;
}
footer > section:last-child {
  text-align: right;
}
.request-button.footer {
  display: initial;
}

@media screen and (max-width: 650px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  footer > section:nth-child(2),
  footer > section:nth-child(3) {
    text-align: center;
    margin-top: 20px;
  }
  .request-button-container {
    margin: 0 auto;
    margin-top: 20px;
  }
  footer > section:last-child {
    text-align: center;
    margin-top: 20px;
  }
}
